.App {
  text-align: center;

}

.song-list {
  display: flex;
  flex-wrap: wrap;
}

.song {
  display: block;
  margin: 10px;
  border: 2px solid black;
  padding: 12px;
  background-color: bisque;
}